@keyframes changeColor {
    0% {
      color: rgb(100, 89, 255);
    }
    50% {
      color: rgb(0, 195, 255);
    }
    95% {
      color: rgb(255, 0, 234);
    }
    100%{
      color: rgb(100, 89, 255);

    }
  }

body{
    background-image: url(bgjw.jpg);
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    
}
@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
    
    li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

.menu-container {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
.menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.menu-container li {
    margin-right: 20px;
  }
  
.menu-container a {
    color: #fff;
    text-decoration: none;
  }

  
  
/*.container2{
    display: flex;
    text-justify: auto;
    text-align: center;
    
}



.boton{
    display: flex;
    border-radius: 20px;
    margin-left: 5px;
    height: 100px;
    background-color: rgb(17, 180, 255);
    flex: 1;
    transition: .3s all ease;
    align-items: center;
    border: 0;

    align-content: center;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-shadow: 2px 2px 4px gray;
    box-shadow: 2px 2px 4px rgb(68, 68, 68);


}

.boton:hover{
    flex: 2;
    background-color: rgb(172, 224, 255);
    cursor: pointer;
}

#titulo{
    font-family: impact;
    text-align: center;
    background-color: aliceblue;
    margin-top: 20px 30px 20px 30px;
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    text-shadow: 2px 2px 5px blueviolet;
    border-radius: 10px;
}*/
#descrip{
    text-align: center;
    font-family: impact;
}
ul{
    list-style: none;
    font-family: serif;
    text-align: center;
    padding-left: 0px;
    
}

.textito{
    height: 25%;
    margin-left: 10px;
    margin-right: 10px;
    transition: .3s all ease;
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    transition: .3s all ease;
    box-shadow: 2px 2px 4px rgb(68, 68, 68);
    opacity: .7;
}
.textito a img{
    width: 100px;
    transition: .3s all ease;
}


.textito:hover{
    background-color: #505050;
    height: 500px;
    opacity: 1;
}


.textito a img:hover{
    width: 200px;
    cursor: pointer;
}

.descripcion{
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-content: center;
    
    


}
/*.descripcion:hover{
    background-color: #505050;
}*/
.descripcion h1{
    color: aqua;
    text-shadow: 2px 2px 4px gray;
}

.descripcion p{
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 4px gray;
    font-size: 18px;
    text-align: center;
    text-justify: center;
}

.pic-container{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}
.sesion{
    display: flex;
    width: 700px;
    height: 530px;
}
.sesion img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 10px;
}
.sesion img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}